.root {
  display: flex;
  flex-direction: row;

  img {
    margin-right: 7px;

    &:hover {
      cursor: pointer;
    }
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    margin-right: 24px;
  }
}