.root {
  position: relative;
  margin: 35px 0;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;

  .search_icon {
    width: 27px;
    height: 27px;
    opacity: 0.3;
    position: absolute;
    left: 8px;
    top: 6px;
  }

  .input {
    border: 1px solid #919EAB52;
    padding: 9px 14px;
    width: 96.7%;
    padding-left: 2.4%;
    border-radius: 6px;
    font-size: 16px;

    &:focus {
      border: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
}
